---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const poems: CollectionEntry<"poems">[] = await getCollection("poems");
const essays: CollectionEntry<"essays">[] = await getCollection("essays");

// Sort poems and essays by date if available
poems.sort(
  (a, b) => (b.data.date?.valueOf() ?? 0) - (a.data.date?.valueOf() ?? 0)
);
essays.sort(
  (a, b) => (b.data.date?.valueOf() ?? 0) - (a.data.date?.valueOf() ?? 0)
);
---

<Layout title="Home">
  <h1>State Space Poetry</h1>

  <h2>Recent Poems</h2>
  <ul>
    {
      poems.map((poem) => (
        <li>
          <a href={`/poems/${poem.slug}`}>{poem.data.title}</a>
          {poem.data.date && (
            <p>Published on: {poem.data.date.toDateString()}</p>
          )}
        </li>
      ))
    }
  </ul>

  <h2>Recent Essays</h2>
  <ul>
    {
      essays.map((essay) => (
        <li>
          <a href={`/essays/${essay.slug}`}>{essay.data.title}</a>
          {essay.data.date && (
            <p>Published on: {essay.data.date.toDateString()}</p>
          )}
        </li>
      ))
    }
  </ul>
</Layout>
